		/* orb-header  div styles */
		th.orb-header { 
			border: 1px solid #C4DCB3; padding: 4px; background: #7C9F61 
		}

		/* orb-detail div styles */
		td.orb-detail { 
			border: 1px solid #DFEBD5; padding: 4px; background: #C4DCB3 
		}

		/* orb-detailVisible div styles */
		td.orb-detailVisible { 
			border: 1px solid #F9A152; padding: 4px; background: #F18636 
		}

		/* orbTrakContent div styles */
        #orbTrakContent {
            display: none;
            text-align: center;
        }

		/* Pass div styles */
        #passes {
			overflow-y: auto; /* Make the pass table scrollable */
            max-height: 260px; /* Set a maximum height for the scrollable area */
        }

		/* Body styles */
		body {
            margin: 0; /* Remove default margin */
            overflow: hidden; /* Prevent scrollbars */
            font-family: Arial, sans-serif;
        }
		
		/* Heading h1 styles */
		h1 {
			color: silver;
			font-size: 26pt;
			font-family: Arial;
			font-weight: bold;
		}

		/* Background styles */
        #background {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: url('./orbimages/full.png'); /* Replace with your background image */
            background-size: cover; /* Cover the entire viewport */
            z-index: -1; /* Send it to the back */
        }
		
		/* Main styles */
        #main {
			background-color: white;
            margin-top: 0;
            display: flex;
            flex-direction: row; /* Align items horizontally */
            align-items: center;
			background-image: url('./orbimages/b1.png'); /* Replace with the path to your background image */
			background-size: cover; /* Cover the entire div */
			background-position: center; /* Center the background image */
			background-repeat: no-repeat; /* Do not repeat the background image */
        }

        /* Modal styles */
        #infoModal {
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: #fff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
            z-index: 2;
        }

		/* Modal Button Close sign styles */
        #closeModalBtn {
            position: absolute;
            top: 10px;
            right: 10px;
            cursor: pointer;
        }
		
		/* Action Button styles */	
		.action-buttons button {
			width: 200px;
			display: inline-block;
			font-weight: bold;
			text-decoration: none;
			cursor: pointer;
			border: 2px solid #556B2F; /* Greenish-olive shade */
			color: white;
			background-color: #556B2F;
			transition: background-color 0.3s, color 0.3s, border 0.3s;
		}
		
		.action-buttons button:hover {
			background-color: white;
			color: #000000;
		}
		
		.action-buttons button.user-location {
			border: 2px solid #B8860B; /* Yellow shade for SET USER LOCATION button */
			background-color: #B8860B;
		}
		
		.action-buttons button.user-location:hover {
			background-color: white;
			color: #000000;
		}

		.action-buttons button.ground-station {
			border: 2px solid #1E90FF; /* Bluish shade for ADD GROUND STATION button */
			background-color: #1E90FF;
			
		}
		
		.action-buttons button.ground-station:hover {
			background-color: white;
			color: #000000;
		}
		 /* hover effect for About & Contact images */
        #main-gif img:hover,
        #main img:hover {
            border: 2px solid #007BFF;
            border-radius: 3px;
        }

        /* Animation for the satellite gif */
        #main-gif img {
            transition: transform 0.3s ease-in-out;
        }
	
		/* hover effect for satellite gif */
        #main-gif img:hover {
            transform: scale(1.2);
        }